/* Styling for the calculator container */
.calculator {
    display: flex; /* Use flexbox to fill the available space */
    flex-direction: column; /* Arrange children vertically */
    height: 100vh; /* Set height to 100% of the viewport height */
    width: 100%; /* Set width to 100% of the viewport width */
    justify-content: center; /* Center the calculator vertically */
    align-items: center; /* Center the calculator horizontally */
    padding: 20px; /* Add padding for better appearance */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Styling for the display area */
.display {
    background-color: #f0f0f0;
    border: none; /* Increase border width for consistency */
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 10px;
    width: 100%; /* Ensure the display area fills its container */
    height: 100%;
    box-sizing: border-box;
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Center the input field vertically */
}

    /* Styling for the input field inside the display area */
    .display input[type="text"] {
        width: 100%; /* Take up 100% of the width of its container */
        height: 100%; /* Take up 100% of the height of its container */
        font-size: 24px;
        padding: 25px;
        border: none;
        border-radius: 10px;
        box-sizing: border-box;
    }

/* Styling for the buttons container */
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four columns */
    grid-gap: 5px; /* Gap between grid items */
}

/* Styling for the buttons */
button {
    padding: 10px;
    font-size: 21px;
    margin-bottom: 5px;
    border: none;
    cursor: pointer;
    background-color: #b0b0b0;
    border-radius: 5px;
}

    /* Styling when hovering over buttons */
    button:hover {
        background-color: #ffb14c;
    }

/* Styling for operator buttons */
.operator {
    background-color: #b0b0b0;
    color: #ff5722;
}

/* Styling for the clear button */
.clear {
    background-color: #b0b0b0;
    color: #ff5722;
}

/* Styling for the enter button */
.enter {
    background-color: #b0b0b0;
    color: #ff5722;
}
