/* Styling for the calculator container */
.calculator {
    display: flex; /* Use flexbox to fill the available space */
    flex-direction: column; /* Arrange children vertically */
    height: 85vh; /* Set height to 100% of the viewport height */
    width: 100%; /* Set width to 100% of the viewport width */
    justify-content: center; /* Center the calculator vertically */
    align-items: center; /* Center the calculator horizontally */
    padding: 5px; /* Add padding for better appearance */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    overflow-y: hidden;
    overflow-x: hidden;
}

.float {
    margin-right: 10px;
    margin-left: auto; /* Push the buttons to the right */
}


/* Styling for the stack area */
.stack-view {
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 24px;
}

.stack-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
}

/* Styling for the display area */
.display {
    background-color: #f0f0f0;
    border: none; /* Increase border width for consistency */
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%; /* Ensure the display area fills its container */
    height: 100%;
    box-sizing: border-box;
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Center the input field vertically */
    justify-content: space-between; /* Add space between elements */
}

/* Styling for the input field inside the display area */
.display input[type="text"] {
    width: 70%; /* Take up 100% of the width of its container */
    height: 100%; /* Take up 100% of the height of its container */
    font-size: 34px;
    padding: 25px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Styling for the buttons container */
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-gap: 2px; /* Gap between grid items */
}

/* Styling for the buttons */
button {
    padding: 2px;
    font-size: 28px;
    margin-bottom: 2px;
    border: none;
    cursor: pointer;
    background-color: #808080;
    color: antiquewhite;
    border-radius: 2px;
}

/* Styling when hovering over buttons */
button:hover {
    background-color: #ffb14c;
}

/* Styling for operator buttons */
.operator {
    background-color: black;
    color: antiquewhite;
}

/* Styling for the clear button */
.clear {
    background-color: black;
    color: antiquewhite;
}

/* Styling for the enter button */
.enter {
    background-color: black;
    color: antiquewhite;
}

/* Styling for the alternative view */
.userDefineFunction {
    background-color: black; 
    color: white; 
    padding: 20px;
    box-sizing: border-box; 
    width: 100%; 
}

/* Styling for the custom function instructions */
.userDefineFunction h2, .userDefineFunction p {
    color: white; 
    font-size: 24px;
}

/* Styling for the custom function text area */
.userDefineFunction textarea {
    background-color: white; 
    color: black; 
    width: 100%;
    height: 150px;
    font-size: 24px;
    padding: 10px;
}

/* Styling for the compile and run button */
.userDefineFunction button {
    background-color: #808080; 
    color: antiquewhite; 
    padding:5px; 
    border: none;  
    cursor: pointer;
}

/* Styling when hovering over compile and run button */
.userDefineFunction button:hover {
    background-color: #ffb14c;
}

